<form #formMedico="ngForm" autocomplete="off" (submit)="onSubmit(formMedico)">
    <input type="hidden" name="Id" [value]="service.formData.Id">
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text bg-white">
                    <i class="fas fa-user" [class.green-icon]="Nome.valid" [class.red-icon]="Nome.invalid && Nome.touched"></i>
                </div>
            </div>
            <input name="Nome" #Nome="ngModel" [(ngModel)]="service.formData.Nome" class="form-control" placeholder="Nome" required>
        </div>
    </div>
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text bg-white">
                    <i class="fas fa-user" [class.green-icon]="Sobrenome.valid" [class.red-icon]="Sobrenome.invalid && Sobrenome.touched"></i>
                </div>
            </div>
            <input name="Sobrenome" #Sobrenome="ngModel" [(ngModel)]="service.formData.Sobrenome" class="form-control" placeholder="Sobrenome" required maxlength="100" minlength="5">
        </div>
    </div>
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text bg-white">
                    <i class="fas fa-user" [class.green-icon]="Crm.valid" [class.red-icon]="Crm.invalid && Crm.touched"></i>
                </div>
            </div>
            <input name="Crm" #Crm="ngModel" [(ngModel)]="service.formData.Crm" class="form-control" placeholder="CRM" required>
        </div>
    </div>
    <div class="form-group">
        <button class="btn btn-success btn-lg btn-block" type="submit" [disabled]="formMedico.invalid"><i class="fas fa-database"></i> Submit</button>
        <button class="btn btn-success btn-lg btn-block" type="button" (click)="Teste($event)"><i class="fas fa-database"></i> Teste</button>
    </div>
</form>